.feed-data.media.branch
  %span.pull-left
    = image_tag(action.author.avatar_url, class: "media-object thumb img-circle")
  .media-body
    %span.media-heading= truncate action.message, length: 72
    .feed-footer.pull-bottom
      %span.pull-left= action.author.login
      %span.pull-right= "authored #{time_ago_in_words action.created_at} ago"