.feed-data.media{"class" => "pivotal-#{story.status}"}
  %span.pull-left
    = image_tag("pivotal-#{story.story_type}.png")
  .points= story.points if story.feature?
  .media-body
    .media-heading
      = "#{story.message}"
      = "(#{get_initials(story.requester)})".html_safe unless story.status_is("unstarted") || story.status_is("unscheduled")