.feed-data.media{"class" => "pivotal-#{story.status}"}
  %span.pull-left
    = image_tag("pivotal-#{story.story_type}.png")
    - if story.story_type == "feature"
      %br
      .badge= story.points
  .media-body
    .media-heading= "#{story.message} (#{get_initials(story.requester)})".html_safe
    .feed-footer.pull-bottom
      %span.pull-left
      %span.pull-right