.feed-data.media{"class" => "pivotal-#{activity.status}", "data-pivotal-event-at" => "#{activity.occurred_at}"}
  %span.pull-left
    = image_tag("pivotal-#{activity.story_type}.png")
  .points= activity.points if activity.feature?
  .media-body
    .media-heading
      = "#{activity.description}"
      = "(#{get_initials(activity.requester)})".html_safe unless activity.status_is("unstarted") || activity.status_is("added")
    %br
    .feed-footer.pull-bottom
      %span.pull-left.label= activity.status
      %span.pull-right= "added #{time_ago_in_words activity.occurred_at} ago"