%a.side-nav{:href => "#tab_#{count+1}", 'data-toggle'=> 'tab'}
  = project.title[0..12] + "..."
  .pull-right
    %img.gear-icon{:src => "assets/gear-icon.png", "data-toggle" => "modal", :href => "#myModal#{project.id}", :role => "button", :accesskey => "#{count+1}"}
    %div.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", :id => "myModal#{project.id}"}
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h2#myModalLabel
          = "#{project.title}"
      .modal-body
        = render 'update_form'
      .modal-footer
        %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
        %button.btn.btn-warning{"aria-hidden" => "true", "data-dismiss" => "modal"} Save changes