%a.side-nav{:href => "#tab_#{count+1}", 'data-toggle'=> 'tab'}
  = truncate project.title, length: 20
  .pull-right
    %img.gear-icon{:src => "assets/gear-icon.png", "data-toggle" => "modal", :href => "#myModal#{project.id}", :role => "button", :accesskey => "#{count+1}"}
.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", :id => "myModal#{project.id}"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel= "Services for #{project.title.titleize}"
  .modal-body
    .container
      .span4
        %h4 Pivotal Tracker
        =form_tag(add_planner_path(project_id: project.id), method: :post, class: 'form-inline') do
          =text_field_tag(:planner_id, nil, class: "input input-large", placeholder: "Enter your project id")
          =submit_tag("Add", class: 'btn')
      .span4
        %h4 Travis-CI
        =form_tag(toggle_build_status_path(project_id: project.id), method: :put, class: 'form-inline') do
          %p
            %input{:id => "checkbox-#{count+1}", :type => "checkbox", :checked => checked?(project), :name => "checked"}
            %label{:for => "checkbox-#{count+1}"}
            =submit_tag("Save", class: 'btn')
