.feed-data.media{"class" => "travis-#{test_build.state}", "data-travis-event-at" => "#{test_build.finished}"}
  %span.pull-left
    = image_tag("travis-#{test_build.state}.png")
  .media-body
    .media-heading= truncate test_build.message, length: 75