.span3.side-nav
  %p.feed-title 
  %ul.side-nav#projectTabs
    - @projects.each_with_index do |project, index|
      %li.side-nav{'data-toggle' => 'tooltip', 'data-animation'=> true,'data-placement' => 'right' , 'data-original-title' => "fn + control + option + #{index+1} for settings hot-key"}
        = render "project_settings", {project: project, count: index}
    
    = render 'add_project', {search: @repo_auto_complete}

.tab-content
  - @projects.each_with_index do |project, index|
    .tab-pane{:id => "tab_#{index+1}"}
      .span3.feed
        %p.feed-title= "#{project.title} GitHub"
        .feed-data Pull request 324234
        .feed-data Pull request 324234
        .feed-data Pull request 324234
        .feed-data Pull request 324234
        .feed-data Pull request 324234
        .feed-data Pull request 324234
        .feed-data Pull request 324234
        .feed-data Pull request 324234
        .feed-data Pull request 324234
        .feed-data Pull request 324234

      .span3.feed
        %p.feed-title= "#{project.title} Travis CI"
        .feed-data Pull request 324234
        .feed-data Pull request 324234
        .feed-data Pull request 324234
        .feed-data Pull request 324234
        .feed-data Pull request 324234
        .feed-data Pull request 324234
        .feed-data Pull request 324234
        .feed-data Pull request 324234
        .feed-data Pull request 324234
        .feed-data Pull request 324234
      .span3.feed
        %p.feed-title= "#{project.title} Pivotal Tracker"
        .feed-data Pull request 324234
        .feed-data Pull request 324234
        .feed-data Pull request 324234
        .feed-data Pull request 324234
        .feed-data Pull request 324234
        .feed-data Pull request 324234
        .feed-data Pull request 324234
        .feed-data Pull request 324234
        .feed-data Pull request 324234
        .feed-data Pull request 324234