.span3.side-nav
  #notices
    - if flash.notice
      .alert
        %button.close{data: {dismiss:"alert"}}X
        = flash.notice
  %ul.side-nav#projectTabs
    - @projects.each_with_index do |project, index|
      %li.side-nav{'data-toggle' => 'tooltip', 'data-animation'=> true, 'data-placement' => 'right', 'data-original-title' => "fn + control + option + #{index+1} for settings hot-key"}
        = render "project_settings", {project: project, count: index}
    
    = render 'add_project', {search: @repo_auto_complete}
  
  %div{:id => 'carousel', "data-interval-id" => 'nil'}
    %button{id: 'stop-carousel'}Stop
    %button{id: 'turtle-carousel'}Turtle
    %button{id: 'cheetah-carousel'}Cheetah

.tab-content
  - @projects.each_with_index do |project, index|
    .tab-pane{:id => "tab_#{index+1}"}
      .span3.feed
        %p.feed-title GitHub
        .github{"data-git-url" => "#{git_actions_path(project.id)}"}
          - project.repo.git_actions.limit(8).each do |action|
            = render "github_feed_item", {action: action}

      .span3.feed
        %p.feed-title Travis
        .travis
          - if project.ci_source.active?
            - unless project.ci_source.test_builds.empty?
              - project.ci_source.test_builds.limit(12).each do |test_build|
                = render "travis_feed_item", {test_build: test_build}
            - else
              .notice-window 
                We tried to find your builds, we really did. It looks like you either have no builds or (more likely) have set up Travis incorrectly. Check out 
                %a{href: "http://about.travis-ci.org/docs/user/getting-started/", target: "_blank"}the Travis documentation
                for more information. When you're ready to try again click
                %a{href: "#"} this link
          - else
            .notice-window= "Wouldn't your project tracking benefit from Travis CI?" + ' Type the shortcut "FN + CTRL + OPT + ' + "#{index+1}" + '" to edit your Travis settings'

      .span3.feed
        %p.feed-title Pivotal
        .pivotal
          - if project.planner
            - project.planner.stories.limit(12).each do |story|
              = render "planner_feed_item", {story: story}
          - else
            .notice-window= "Why not track your to-dos, chores, and bugs with Pivotal Tracker?" + ' Type the shortcut "FN + CTRL + OPT + ' + "#{index+1}" + '" to edit your Pivotal Tracker settings'
