%html
  %head
    %title HaxHub
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = favicon_link_tag "haxhub.ico"
    = csrf_meta_tags
    %body
      = render 'shared/navbar'
      = yield
      %container
        %p.home-footer #{link_to "HaxHub", "https://github.com/blairand/alpha-feed-engine"} was built by #{link_to "Blair Anderson", "https://github.com/blairand"}, #{link_to "Geoffrey Schorkopf", "https://github.com/gschorkopf"} and #{link_to "Jorge Téllez", "https://github.com/novohispano"}
    